<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">  
<head>
<meta charset="utf-8"></meta>
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css"></link>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
</head>
<style>
	*.text { color:rgba(252,252,252,1.00)}
</style>
<body th:background="@{/background.jpg}" style="background-size:cover">
	<div class="container" style="width:100%;">
    	<div class="row">
            <ul class="nav nav-tabs">
            	<li style="margin-left:10px"><h4 class="text" style="color:rgba(252,252,252,1.00)">Welcome to Software_Risk_Project_Management_System</h4></li>
                <li style="float:right; margin-right:20px"><a class="text" href="#"> <span class="glyphicon glyphicon-log-out"> Exit</span></a></li>
  				<li style="float:right;"><a  class="text" href="#"> <span class="glyphicon glyphicon-user"> User</span></a></li>
                <li style="float:right;"><a  class="text" href="#"><span class="glyphicon glyphicon-home"> Home</span></a></li>
			</ul>
        </div>
        <div class="row">
			<ol class="breadcrumb" style="background:rgba(247,242,242,0.1); border-radius:10px;">
    			<li><a href="#">Home</a></li>
    			<li><a href="#">Risk Management</a></li>
    			<li class="text">Check all</li>
			</ol>
		</div>
        <div class="row" style="border-radius:10px;">
        	<div class="col-sm-3" style="background:rgba(247,242,242,0.3); border-radius:10px;">	
				<ul class="nav nav-pills nav-stacked" style="margin-top:30px ; margin-bottom:410px">
						<li><a class="text" href="welcome"><span class="glyphicon glyphicon-adjust"> User Management</span></a></li>
						<li class="active"><a class="text" href="risk"><span class="glyphicon glyphicon-adjust"> Software Risk Management</span></a></li>
						<li><a class="text" href="check"><span class="glyphicon glyphicon-adjust"> Software Risk Plan Management</span></a></li>
						<li><a class="text" href="account"><span class="glyphicon glyphicon-adjust"> Statistical analysis </span></a></li>		
				</ul>
         	</div>
             <div class="col-sm-9" style="background:rgba(252,252,252,0.4);border-radius:10px;">
             	<div class="row">
             		<ul class="nav nav-pills">
  						<li class="active"><a class="text" href="risk">Check all item</a></li>
  						<li><a class="text" href="add">Add item</a></li>
  						<li><a class="text" href="#">Detail</a></li>
					</ul>
             	</div>
             	<div class="row" style="background:rgba(252,252,252,0.9);border-radius:10px;">
             		<div class="page-container">
						<div style="height:520px">        		 					
							<table class="table table-bordered" id="riskList" style="font-weight:bold">
							</table> 
        				</div>
                    </div>    
             	</div>
        	</div>	
        </div>    
        <div class="row" style="background:rgba(247,242,242,0.2); text-align:center; border-radius:10px;">
        	<h4 style="color:rgba(252,252,252,1.00)">copyright © Steins;Gate 2013 ~ 2016</h4>
        </div>
    </div>
</body>
<script>

$(function(){
	getTable();
});

function jumpTo(id){
	URL = "getDetail?id="+id;
	window.location.href = URL;
}

function getTable(){
	$('#riskList').bootstrapTable({
		method:'get',
		url:'Risk/getTable',
		cache: false,
		dataField:'rows',
		striped: true,  
		pagination: true,  
		pageList: [10,20,50],  
		pageSize:10,  
		pageNumber:1, 
		queryParams: function(params){  
			paramsReturn = {  
				limit: params.limit,  
				offset: params.offset,  
			};
			console.log(paramsReturn);
			return paramsReturn;  
		},  
		sidePagination:'server',  
		showColumns: true,   
		showRefresh: true,
		columns:[{
					field: 'id',
					title: 'Number',    
					align: 'center',    
					width: '5%',    
					valign: 'middle',
					sortable: true,			
				},
				{
					title: 'Influence',    
					align: 'center',    
					width: '20%',    
					valign: 'middle',
					sortable: true,
					formatter: function(value,row,index){  
				  		var str = ""; 
				  		var inf = row.influence;
				  		
				  		var cls = 'text-info';
				  		if(inf == 'HIGH'){
				  			cls = 'text-danger';
				  		}
				  		if(inf == 'LOW'){
				  			cls = 'text-success';
				  		}
				  		str += '<h5 style="font-weight:bold;" class = "'+cls+'">'+inf+'</h5>';
				    	return str;  
					}  
				},
				{
					title: 'Posibility',    
					align: 'center',    
					width: '20%',    
					valign: 'middle',
					sortable: true,
					formatter: function(value,row,index){  
				  		var str = ""; 
				  		var inf = row.posibility;
				  		
				  		var cls = 'text-info';
				  		if(inf == 'HIGH'){
				  			cls = 'text-danger';
				  		}
				  		if(inf == 'LOW'){
				  			cls = 'text-success';
				  		}
				  		str += '<h5 style="font-weight:bold;" class = "'+cls+'">'+inf+'</h5>';
				    	return str;  
					}  
				},
				{
					field: 'riskTrigger',
					title: 'RiskTrigger',    
					align: 'center',    
					width: '20%',    
					valign: 'middle',
					sortable: true,	
				},
				{
					field: 'submitter.name',
					title: 'Submitter',    
					align: 'center',    
					width: '20%',    
					valign: 'middle',
					sortable: true,	
				},
				{
					title: 'Operation',    
					align: 'center',    
					width: '20%',    
					valign: 'middle',
					sortable: false,
					formatter: function(value,row,index){  
				  		var str = ""; 
				  		str+='<input type="button" value="Check the detail" onClick="jumpTo('+row.id+');" style="background:rgba(159,219,139,1.00); height:30px; border-radius:5px;font-weight:bold;color:#FCFCFC"></input>';
				    	return str;  
					}  
				},
		],
		responseHandler : function(res) {
			console.log(res);
            return {  
                total : res.count,  
                rows : res.table,  
            };  
        },
	});	
}	
</script>
</html>
